<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="courses.css" rel="stylesheet" />
</head>

<body bgcolor="purple">
    <header>


        <form>
            <input type="search" name="search" id="search" placeholder="Search..." />
            <label for="search"></label>
            <input type="submit" value="Go"></input>
        </form>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="recepies.html">Recepies</a></li>
                <li><a href="courses.html">Courses</a></li>
                <li><a href="recepies.html">Our team</a></li>
                <li><a href="contact.html">Contact</a></li>
                <hr>
                <a href="index.html">Back</a>


            </ul>
        </nav>



    </header>
    <div class="menu">
        <main>
            <h1 style="color:rgb(204, 50, 50); text-align:center; font-size:45px;">Courses</h1>
            <section>
                <h2 style="text-align: center;">6 Best Japanese Cooking Courses & Classes [2022 OCTOBER]</h2>
                <article>
                    <p><a href="https://www.udemy.com/course/recipes-for-authentic-japanese-meals">1. Best Authentic Japanese Food Recipes Cooking Classes
                        (Udemy)</a>
                    </p>
                </article>
                <p><a href="https://www.master-jpcuisine.com/courses">2. All Japanese Cooking Classes (Master of Japanese Cuisine
                    Academy)</a></p>
                <p><a href="https://www.udemy.com/course/ultimate-dashi-making-course/">3. Ultimate Dashi Making Course (Udemy)</a> </p>
                <p><a href="https://getting-digital.net/en/course/japanese-tofu-delicious-everyday-recipes-to-prepare-at-home/">4. Japanese Tofu: Delicious Everyday Recipes to Prepare at Home
                    (Udemy)</a></p>
                <p><a href="https://www.skillshare.com/en/classes/Japanese-Home-Cooking-Cook-Japanese-Rice-on-a-Stove/475223714">Online Japanese Cooking Class (Skillshare)</a></p>
            </section>
        </main>
        <hr>
        <footer>
            <small>All rights received 2022</small>
        </footer>


</body>

</html>