<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="home.css" rel="stylesheet" />
</head>

<body bgcolor="violet">
    <header>


        <form>
            <input type="search" name="search" id="search" placeholder="Search..." />
            <label for="search"></label>
            <input type="submit" value="Go"></input>
        </form>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="recepies.html">Recepies</a></li>
                <li><a href="courses.html">Courses</a></li>
                <li><a href="recepies.html">Our team</a></li>
                <li><a href="contact.html">Contact</a></li>


            </ul>
        </nav>


        <h1 style="color:blue;text-align:center;font-family: fantasy;">Home</h1>
    </header>
    <main>
        <section>
            <h2 style="color:lightblue;text-align:center;font-family: monospace">About Home</h2>
        </section>
    </main>


    <footer>
        <small>All rights received 2022</small>
    </footer>
    <a href="index.html">Back</a>
</body>

</html>