<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="This is web site japanese cuisine" />
    <meta name="author" content="1200 micrograms" />
    <meta name="keywords" content="japanese, cuisine, recepies, courses" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="index.css" rel="stylesheet" />
</head>

<body>
    <header>
       
        
        <form>
            <input type="search" name="search" id="search" placeholder="Search..." />
            <label for="search"></label>
            <input type="submit" value="Go"></input>
        </form>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="recepies.html">Recepies</a></li>
                <li><a href="courses.html">Courses</a></li>
                <li><a href="ourteam.html">Our team</a></li>
                <li><a href="contact.html">Contact</a></li>


            </ul>
        </nav>

    </header>
    <main>
        <section>
            <h1>Just one cockbook</h1>
            <h2>Our Favourites</h2>
            <article>
                <h3>Honey Ginger Tea</h3>
                <p>Sip your way to a healthy start with a warming cup of shōgayu, or Honey Ginger Tea!
                    Not only is it a potent cold and flu remedy, but ginger tea also boasts a myriad of health benefits.
                    Learn how to make a simple cup at home and enjoy it all winter long.
                    During the frigid winter months when cold and flu are rampant, I am reminded to take good care of my
                    family
                    by cooking the right kind of food. One of my favorite wellness traditions is to make a
                    big pot of <span style="color:red;">shōgayu (生姜湯)</span>— honey ginger tea.
                    This soothing tea with a spicy kick is known for its effect to warm up the body and keep the cold at
                    bay.
                    <span style="font-family:fantasy"><a href="/Class05/recepies.html">Let's cook up some hot tee
                            today!</a></span>
                            
                </p>
                <img src="/Div-main/Layouts/Class05/img/Japanese-Ginger-Tea-5709-II.jpg" alt="Ginger Tea" width="300px" height="300px" />
            </article>
            <article>
                <h3>Japaniese Milk Bread</h3>
                <p>Japanese Milk Bread, or Shokupan, is possibly the best version of soft white bread! Known for
                    its milky-sweet taste and pillowy softness, it’s enjoyed daily in Japan as breakfast toast and
                    sandwich bread.
                    If you’ve been searching for the perfect milk bread recipe, you’re in luck today. Here,
                    I’ll show you two different styles: One with a rounded top and one with a flat top.
                </p>
                <img src="/Div-main/Layouts/Class05/img/Japanese-Milk-Bread-Shokupan-II.jpg" alt="japaniesemilkbread" width="300"
                    height="300" />
            </article>
        </section>
    </main>
    <aside>
        <h3>Start cooking Japanese food</h3>
        <ul>
            <li><a href="courses.html">Start here!</a></li>
            <li><a href="">Kitchen tools</a></li>
            <li><a href="">Begginers tips</a></li>
        </ul>
        <a href="https://www.amazon.com/Sushi-Beginners-Novel-Marian-Keyes/dp/0060555955" alt="japanesecookbook">
            <img src="/Div-main/Layouts/Class05/img/essential-japanese-recipes-volume-1.webp" alt="Japanese cook book" width="300"
                height="300" />
        </a>
    </aside>
    <div style="text-align:center; background-color: azure; border: 2px outset black; font-family: fantasy;">
        <p>Sign up and receive our tips and newsletter</p>
        <label for="email">Add you mail address</label>
        <input type="email" name="email" id="email" />
        <input type="submit" />
    </div>
    <!--
    <video src="/Class05/video/puppy.mp4" poster="/Class05/img/golden.jpg" width="400" height="300" controls loop>
        File type not supported
    </video>
    -->
    <footer>
        <small>All rights received 2022</small>
    </footer>
    <a href="index.html">Back</a>

</body>

</html>