body {
    background-image: url(https://i.pinimg.com/736x/12/11/83/121183a7dc3025c5d3aaa70e93bf60be.jpg);
    font-family: sans-serif;
    padding: 20px;
}
h1 {
    text-align: center;
    color: blueviolet;
}