<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="recepies.css" rel="stylesheet"/>
    <title>Document</title>
</head>

<body>
    <header>


        <form>
            <input type="search" name="search" id="search" placeholder="Search..." />
            <label for="search"></label>
            <input type="submit" value="Go"></input>
        </form>
        <nav class="nav">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="recepies.html">Recepies</a></li>
                <li><a href="courses.html">Courses</a></li>
                <li><a href="ourteam.html">Our team</a></li>
                <li><a href="contact.html">Contact</a></li>
                <br>
                <a href="index.html">Back</a>


            </ul>
        </nav>


        
    </header>
    <div class="menu">
        <main>
          <h1>Recepies</h1>          
          <h2>Japanese Cuisine</h2>
          <p class="established">Est. 2020</p>
          <hr>
          <section>
            <h3>Classic Sushi</h3>
            <img src="https://i.pinimg.com/originals/95/b6/48/95b648d525f324f907f72d773f1da2da.jpg" alt="coffee icon"/>
            <article class="item">
              <p class="flavor">Salmon Sushi</p><p class="price">30.00$</p>
            </article>
            <article class="item">
              <p class="flavor">Shrimp Sushi</p><p class="price">35.75$</p>
            </article>
            <article class="item">
              <p class="flavor">Caviar Sushi</p><p class="price">37.50$</p>
            </article>
            <article class="item">
              <p class="flavor">Vege Sushi</p><p class="price">40.00$</p>
            </article>
            <article class="item">
              <p class="flavor">Tuna Sushi</p><p class="price">45.50$</p>
            </article>
          </section>
          <hr>
          <section>
            <h3>Special Sushi</h3>
            <img src="https://i.pinimg.com/originals/33/69/62/336962cf062ae498c5c9dedf8dbe76a3.jpg" alt="pie icon"/>
            <article class="item">
              <p class="flavor">Kani Kama</p><p class="price">50.50$</p>
            </article>
            <article class="item">
              <p class="flavor">Pepino</p><p class="price">55.75$</p>
            </article>
            <article class="item">
              <p class="flavor">Ontake</p><p class="price">60.00$</p>
            </article>
            <article class="item">
              <p class="flavor">California</p><p class="price">67.50$</p>
            </article>
          </section>
        </main>
    <footer class="small">
        <small>All rights received 2022</small>
    </footer>
    
</body>

</html>